.featuredProductsHeading{
    width: 98%;
    margin: 0 auto;
    margin-bottom: -7px;
    text-align: left;
    background-color: #ed4a6f;
    display: flex;
    align-items: center;
    padding: 3px 8px;
}
.featuredProductsHeading h5{
    color: white;
    margin-bottom: 3px;
}

.row{
    margin: 20px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row1,.row2,.row3{
    display: flex;
    justify-content: space-evenly;
}
.row1 div{
    width: 300px;
    height: 330px;
    overflow:hidden;
}

.row1 img{
    width: 100%;
    height: 100%;
}
.row2 div{
    margin: 20px 0 20px 0;
    width: 600px;
    height: 300px;
    overflow:hidden;
}
.row2 img{
    width: 100%;
    height: 100%;
}

.row3 .col1{
    display: flex;
}
.row3 .col2,.col3{
    display: flex;
    flex-direction: column;
}

.row3 .col1 div{
    margin: 20px 0 20px 0;
    width: 600px;
    height: 600px;
    overflow:hidden;
}
.row3 .col2 div{
    margin: 20px 0 20px 0;
    width: 300px;
    height: 280px;
    overflow:hidden;
}
.row3 .col3 div{
    margin: 20px 0 20px 0;
    width: 300px;
    height: 280px;
    overflow:hidden;
}
.row3 img{
    width: 100%;
    height: 100%;
}

.row1 div img:hover{
    transform: scale(1.03);
    transition: linear 0.4s;
    cursor: pointer;
}
.row2 div img:hover{
    transform: scale(1.03);
    transition: linear 0.4s;
    cursor: pointer;
}
.row3 div img:hover{
    transform: scale(1.03);
    transition: linear 0.4s;
    cursor: pointer;
}



