nav{
    margin-bottom: 0;
    padding: 2px;
}

nav #search{
    width: 100vw;
    margin-right: 5px;
}
.suggestion-box ul{
    margin-bottom: 0.6rem;
    margin-left: 10px;
    padding-left: 0rem;
}
.suggestion-box li{
    list-style-type: none;
    width: 100px;
    color: white;
    /* line-height: 10px; */
    text-align: left;
    /* border: 1px solid red; */
}
.suggestion-box hr{
    margin-left: -10px;
    width: 65rem;
    margin-top: 9px;
    margin-bottom: 9px;
}


/* .navbar .form-control{
    width: 50%;
    margin-left: 8rem;
} */

.mynavbardropdown #dropdown-basic::after{
    margin-left: 0.8rem !important;
}

#navlink:hover{
    background-color: #ed4a6f;
    color: white;
}

.search-li:hover{
    color: #ed4a6f;
    cursor: pointer;
}

@media only screen and (min-width : 700px) and (max-width : 1000px) {
    nav #search {
        width: 65vw;
        margin-right: 2rem;
    }
}

@media only screen and (min-width : 450px) and (max-width : 750px) {
    nav #search {
        width: 45vw;
        margin-right: 2rem;
    }
}

@media only screen and (min-width : 300px) and (max-width : 449px) {
    nav #search {
        width: 35vw;
        margin-right: 2rem;
    }
}