nav{
    margin-bottom: 0;
    padding: 2px;
}

nav #search{
    width: 90%;
}
.suggestion-box ul{
    margin-bottom: 0.6rem;
    margin-left: 10px;
    padding-left: 0rem;
}
.suggestion-box li{
    list-style-type: none;
    width: 100px;
    color: white;
    line-height: 0px;
    text-align: left;
    /* border: 1px solid red; */
}
.suggestion-box hr{
    margin-left: -10px;
    width: 65rem;
    margin-top: 9px;
    margin-bottom: 9px;
}


/* .navbar .form-control{
    width: 50%;
    margin-left: 8rem;
} */