.footer{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-left li{
    margin: 3px;
    padding: 3px;
}
.footer-left ul{
    list-style: none;
}
.footer-left ul li{
    text-align: left;
}

.footer-mid ul{
    list-style: none;
}
.footer-mid ul li{
    text-align: left;
}
.footer-right {
    padding: 15px;
}
.footer-right p{
    text-align: left;
}