.footer{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-left li{
    margin: 3px;
    padding: 3px;
}
.footer-left ul{
    list-style: none;
}
.footer-left ul li{
    text-align: left;
}

.footer-mid ul{
    list-style: none;
}
.footer-mid ul li{
    text-align: left;
}
.footer-right {
    padding: 15px;
}
.footer-right p{
    text-align: left;
}

@media only screen and (max-width : 768px){
    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-left ul li,.footer-mid ul li{
        display: inline;
        margin: 1px 3px 1px 3px;
    }

    .footer .footer-left ul,.footer-mid ul,.footer-right {
        width: 100vw;
        flex-direction: row;
    }

    .footer .footer-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}